.informationSection {
    max-width: 1256px;
    color: #f0f0f0;
    display: flex;
    margin: 75px auto;
}

.informationSection .chefImageWrapper {
    margin-right: 50px;
    position: relative;
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

.informationSection .chefImageWrapper:after {
    position: absolute;
    content: "Szef Kuchnii";
    bottom: 5px;
    right: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}


.informationSection .chefImageWrapper .chefImage {
    width: 100%;
    border-radius: 30px;
    border: 2px solid #919191;
}

.informationSection .articleInformation .title{
    text-align: right;
    font-size: 80px;
    font-weight: bold;
    color: #bbbbbb;
}
.informationSection .articleInformation .paragraph{
    font-size: 22px;
    margin-top: 50px;
    line-height: 26px;
}

@media(max-width: 1300px){
    .informationSection {
        margin: 75px 50px;
    }
}

@media(max-width: 900px){
    .informationSection {
        display: flex;
        flex-direction: column;
    }
    .informationSection .chefImageWrapper {
        margin-right: 0;
        order: 2;
    }
}

@media(max-width: 500px){
    .informationSection {
        margin: 74px 20px;
    }
}