.mainFooter {
    background-image: url('../../../images/footer-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 125px;
    display: flex;
}

.mainFooter .googleMaps{
    border:0;
    border-top-right-radius: 35px;
}

.mainFooter .footerContent{
    margin-left: 200px;
    color: #f0f0f0;
    padding-bottom: 125px;
}

.mainFooter .footerContent .title{
    font-size: 110px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: 25px;
}

.mainFooter .footerContent .infoWrapper{
    margin-bottom: 25px;
}

.mainFooter .footerContent .infoWrapper .infoItem{
    font-size: 25px;
}

.footerLink{
    color: #f0f0f0;

}

.mainFooter .footerContent .socialsWrapper{
    margin-bottom: 25px;
}

.mainFooter .footerContent .socialsWrapper .socialItem{
    font-size: 25px;
}

.mainFooter .footerContent .facebookIcon{
    font-size: 60px;
}

.mainFooter .footerContent .instagramIcon{
    font-size: 60px;
    margin-left: 15px;
}

.mainFooter .footerContent .socialsMediaWrapper .link {
    color: #f0f0f0;
}

.mainFooter .footerContent .authorWrapper {
    margin-top: 25px;
}

.mainFooter .footerContent .authorWrapper .description{
    font-size: 25px;
}

.mainFooter .footerContent .authorWrapper .description .author {
    font-size: 35px;
    color: #979797;
    transition: 0.4s;
}

.mainFooter .footerContent .authorWrapper .description .author:hover {
    color: #f0f0f0;
}

@media(max-width: 1000px){
    .mainFooter .footerContent {
        margin-left: 60px;

    }
}

@media(max-width: 800px){
    .mainFooter {
        flex-direction: column;
        padding-top: 50px;
    }
    .googleMaps {
        width: 100%;
        border-top-right-radius: 0 !important;
        min-height: 400px;
        order: 2;
    }
}

@media(max-width: 600px){
    .mainFooter .footerContent {
        margin-left: 15px;
    }
}

@media(max-width: 500px){
    .mainFooter .footerContent .title {
        font-size: 100px;
        letter-spacing: 2px;
    }
    .mainFooter .footerContent .socialsWrapper .social-item {
        font-size: 21px;
    }
    .mainFooter .footerContent .infoWrapper .info-item {
        font-size: 21px;
    }
}

@media(max-width: 400px){
    .mainFooter .footerContent .title {
        font-size: 93px;
    }
}